<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{css/signform.css}">
</head>
<body onload="signform()">

    <!-- Sign Up -->
        <form action="/signform" method="post">
            <h2 class="form__title">Зарегистрироваться</h2>
                <input type="hidden" name="csrfToken" value="${csrfToken}" />
                <input type="text" name="login" placeholder="Login" class="input" />
                <input type="email" name="email" placeholder="Email" class="input" />
                <input type="password" name="password" placeholder="Password" class="input" />
            <button type="submit" name="submit" value="Submit">Зарегистрироваться</button>
        </form>

    <!-- Sign In -->
        <form action="/signform" method="post">
            <h2 class="form__title">Войти</h2>
<!--            /*@thymesVar id="csrfToken" type="tmpAnton.signinservise.SignFormService"*/-->
            <input type="hidden" name="csrfToken" th:id="csrfToken" th:value="${csrfToken}" />
            <input type="text" name="login" placeholder="Login" class="input" />
            <input type="password" name="password" placeholder="Password" class="input" />
            <a href="#" class="link">Забыли пароль?</a>
            <button type="submit" name="submit" value="Submit">Войти</button>
        </form>

</body>
</html>