html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
/* ToDo убрать общие свойства! */
* {
    margin: 0;
    padding: 0;
}
html {
    background-color: #9f9f9f;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

/* Обертка контента */
.wrapper {
    min-height: 100%;
    position: relative;
}

/* Стиль для основного контента */
.content {
    min-height: calc(100% - 60px); /* 60px - высота подвала */
}

/* Стиль настроек */
.container {
    width: 650px;
    margin: 15px auto;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3),
    0 10px 20px rgba(0,0,0,0.3),
    0 20px 40px rgba(0,0,0,0.3),
    0 40px 80px rgba(0,0,0,0.3);

    border-radius: 10px;
    border: 3px solid darkblue;
    background-color: white;
}

.header {
    text-align: center;
}

.explanation {
    font-size: smaller;
    color: gray;
}

input {
    display: table-cell;
    margin: 0 auto;
    width: 100px;
    border: 0;
    background-color: transparent;
    outline: none;
}

#input_division {
    margin-top: 10px;
    padding-left: 5px;
    border: 1px solid black;
    width: 400px;
}

#input_num {
    margin-top: 5px;
    padding-left: 5px;
    border: 1px solid black;
    width: 50px;
}

button {
    background-color: darkblue;
    color: white;
    border: 1px blue;
    padding: 4px;
    margin-top: 5px;
    width: 100px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.5);
}

button:hover {
    background-color: blue;
}

button:active {
    box-shadow: inset 0 10px 10px rgba(0,0,0,0.5);
}

table {
    margin-top: 10px;
}

td {
    display: table-cell;
    flex-direction: column;
    padding: 0;
    width: 120px;
    height: 100%;
    background-color: lightgray;
}

td button, select, option {
    display: table;
    padding-left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.td_data, .add_data {
    vertical-align: middle;
    padding-left: 10px;
    border: 1px solid #9f9f9f;
}

.add_data button {
    padding-left: 0;
}

select {
    padding: 1px;
    border: 0;
    background-color: transparent;
    outline: none;
    text-align: center;
}

#no_pad_btn1, #no_pad_btn2 {
    padding-left: 0;
}
/* Стиль календаря */
.hidden{
    visibility: hidden;
}

.work{
    text-decoration-color: black;
}

.holiday{
    color: #E7B845;
    background: #fefefe;
}
/* Стиль для footer */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: black;
    color: #B8860B;
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
}


.notifier {
    background-color: black;
    padding: 15px;
    color: #B8860B;
    text-align: center;
    position: absolute;
    width: 450px;
    height: 70px;
    overflow: hidden;
    z-index: 2;
    bottom: 5vh;
    transition: height 1s;
    border-color: #E7B845;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    opacity: 0;
}

/* Устанавливаем видимость элемента, когда свойство opacity становится больше 0 */
.notifier.visible {
    visibility: visible;
    opacity: 1;
}

.notifier.active {
    opacity: 1; /* Конечное значение прозрачности (полностью видимый) */
}


