<div  style="height: calc(100vh - 58px);  overflow: auto;">
  <section id="DivContent" style=" width: 100%; overflow: auto;  height:100%; margin: auto;">
        
        <div style="height: calc(100vh - 58px);  overflow: auto; background-color: #FFF; ">
  <div id="header-color-background">
    <div id="header-img-background" class="main-header-background-0">
      <div style="width: 100%; background: rgba(65, 64, 66, 0.66);">
        <div id="main-header">
          <div class="main-header-background"></div>
          <div class="main-header-content">
            <div class="squares">
              <div id="square-1" class="square" onClick="location.href='devices/portable/PortableIndex.php'">
                <div class="square-title">ПОРТАТИВНЫЕ ГАЗОАНАЛИЗАТОРЫ</div>
                <div class="div-arrow"><img src="IMG/Arrow_3.png" class="arrow-index"></div>
              </div>
              <div id="square-2" class="square" onClick="location.href='devices/stationar/IGM_Index.php'">
                <div class="square-title">СТАЦИОНАРНЫЕ ГАЗОАНАЛИЗАТОРЫ</div>
                <div class="div-arrow"><img src="IMG/Arrow_3.png" class="arrow-index"></div>
              </div>
              <div id="square-3" class="square" onClick="location.href='devices/portable/handheld/Polaris_Index.php'">
                <div class="square-title">ПЕРЕНОСНЫЕ ГАЗОАНАЛИЗАТОРЫ</div>
                <div class="div-arrow"><img src="IMG/Arrow_3.png" class="arrow-index"></div>
              </div>
              <div id="square-4" class="square" onClick="location.href='devices/flame/Vega_Index.php'">
                <div class="square-title">ИЗВЕЩАТЕЛИ   ПЛАМЕНИ</div>
                <div class="div-arrow"><img src="IMG/Arrow_3.png" class="arrow-index"></div>
              </div>
              <div id="square-5" class="square" onClick="location.href='TimeManagment/TimeManagment.php?PageSelect=StartStop.php'">
                <div class="square-title">СИСТЕМА УЧЕТА ВРЕМЕНИ</div>
                <div class="div-arrow"><img src="IMG/Arrow_3.png" class="arrow-index"></div>
              </div>
              <div id="square-6" class="square" >
                <div class="square-title"> </div>
                <div class="div-arrow"><img src="IMG/Arrow_3.png" class="arrow-index"></div>
              </div>
            </div>
            <div class="squares-info" id="squares-info-bg">
              <div class="squares-info-filter" id="squares_info_fl">
                <div class="squares-info-title"> </div>
                <div class="squares-info-border"></div>
                <div class="squares-info-desc"> Detector Co ltd </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="index-container" id="main-index-contaoner">
    <div id="nearest-trainings">
      <div class="main-title">
        <div></div>
        Новости компании </div>
      <div class="main-title-mobile">
        <div class="title">Новости компании</div>
        <div class="border"></div>
      </div>
      <div class="cards">
        <div class="card">
          <div class="main-content">
            <div class="date-day">Дни рождения</div>
            <div class="date-month">на этой неделе</div>
            <div class="border"></div>
            <div class="body"> Доступ ограничен </div>
          </div>
          <div class="image">
            <div style="background-image: url('IMG/pic/b-day-2.png'); width: 100%; height: 100%"></div>
          </div>
          <div class="confirm-button">
            <button onClick="location.href='/ElementsOfSite/Birthday/Birthday.php'">Подробнее</button>
          </div>
        </div>
        <div class="card">
          <div class="main-content">
            <div class="date-day">Предстоящие</div>
            <div class="date-month">дни рождения</div>
            <div class="border"></div>
            <div class="body"> Доступ ограничен </div>
          </div>
          <div class="image">
            <div style="background-image: url('IMG/pic/b-day-3.png'); width: 100%; height: 100%"></div>
          </div>
          <div class="confirm-button">
            <button onClick="location.href='/ElementsOfSite/Birthday/Birthday.php'">Подробнее</button>
          </div>
        </div>
        <div class="card">
          <div class="main-content">
            <div class="date-day"> 22.01.2023 </div>
            <div class="date-month"> </div>
            <div class="border"></div>
            <div class="body"> Паролия хранятся в хешированном виде. ... </div>
          </div>
          <div class="image"> </div>
          <div class="confirm-button">
            <button type="submit" onClick="location.href='/ElementsOfSite/news/news.php?id=7'" >Читать полностью </button>
          </div>
        </div>
        <div class="card">
          <div class="main-content">
            <div class="date-day"> 04.10.2022 </div>
            <div class="date-month"> </div>
            <div class="border"></div>
            <div class="body"> ServiceIGM 1.72: обновление программы ... </div>
          </div>
          <div class="image"> </div>
          <div class="confirm-button">
            <button type="submit" onClick="location.href='/ElementsOfSite/news/news.php?id=6'" >Читать полностью </button>
          </div>
        </div>
      </div>
    </div>
    
    <!--
    <div id="new-articles">
      <div class="main-title main-title-right"> Прочие события
        <div></div>
      </div>
      <div class="main-title-mobile">
        <div class="title">Прочие события</div>
        <div class="border"></div>
      </div>
      <div class="cards">
        <div class="card">
          <div class="card-image"></div>
          <div class="card-body">  </div>
          <div class="card-date"></div>
          <div class="card-button">
            <form action="/">
              <button type="submit">Читать полностью </button>
            </form>
          </div>
        </div>
        <div class="card">
          <div class="card-image"></div>
          <div class="card-body">  </div>
          <div class="card-date"></div>
          <div class="card-button">
            <form action="/">
              <button type="submit">Читать полностью </button>
            </form>
          </div>
        </div>
        <div class="card">
          <div class="card-image"></div>
          <div class="card-body">  </div>
          <div class="card-date"></div>
          <div class="card-button">
            <form action="/">
              <button type="submit">Читать полностью </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    --> 
    
    <!--
    <div id="people">
      <div class="flex-center wrapper-peoples relative">
        <div class="wrapper-peoples__img" >
          <div class="item bg-image-cover filter-black-white" style="background-image: url(img/busines-block/photo1.jpg)"></div>
        </div>
        <div class="wrapper-peoples__img" >
          <div class="item bg-image-cover filter-black-white" style="background-image: url(img/busines-block/photo2.jpg)"></div>
        </div>
        <div class="wrapper-peoples__img" >
          <div class="item bg-image-cover filter-black-white" style="background-image: url(img/busines-block/photo3.jpg)"></div>
        </div>
        <div class="wrapper-peoples__img" >
          <div class="item bg-image-cover filter-black-white" style="background-image: url(img/busines-block/photo4.jpg)"></div>
        </div>
        <div class="wrapper-peoples__img" >
          <div class="item bg-image-cover filter-black-white" style="background-image: url(img/busines-block/photo5.jpg)"></div>
        </div>
        <div class="wrapper-peoples__img" >
          <div class="item bg-image-cover filter-black-white" style="background-image: url(img/busines-block/photo6.jpg)"></div>
        </div>
        <div class="wrapper-peoples__img" >
          <div class="item bg-image-cover filter-black-white" style="background-image: url(img/busines-block/photo7.jpg)"></div>
        </div>
        <div class="wrapper-peoples__img" >
          <div class="item bg-image-cover filter-black-white" style="background-image: url(img/busines-block/photo8.jpg)"></div>
        </div>
        <div class="wrapper-peoples__img" >
          <div class="item bg-image-cover filter-black-white" style="background-image: url(img/busines-block/photo9.jpg)"></div>
        </div>
        <div class="wrapper-peoples__img" >
          <div class="item bg-image-cover filter-black-white" style="background-image: url(img/busines-block/photo10.jpg)"></div>
        </div>
        <div class="wrapper-peoples__img" >
          <div class="item bg-image-cover filter-black-white" style="background-image: url(img/busines-block/photo11.jpg)"></div>
        </div>
        <div class="wrapper-peoples__img" >
          <div class="item bg-image-cover filter-black-white" style="background-image: url(img/busines-block/photo12.jpg)"></div>
        </div>
        <div class="wrapper-peoples__img" >
          <div class="item bg-image-cover filter-black-white" style="background-image: url(img/busines-block/photo13.jpg)"></div>
        </div>
        <div class="wrapper-peoples__img" >
          <div class="item bg-image-cover filter-black-white" style="background-image: url(img/busines-block/photo14.jpg)"></div>
        </div>
        <div class="wrapper-peoples__img" >
          <div class="item bg-image-cover filter-black-white" style="background-image: url(img/busines-block/photo15.jpg)"></div>
        </div>
        <div class="wrapper-peoples__img" >
          <div class="item bg-image-cover filter-black-white" style="background-image: url(img/busines-block/photo16.jpg)"></div>
        </div>
        <div class="wrapper-peoples__img" >
          <div class="item bg-image-cover filter-black-white" style="background-image: url(img/busines-block/photo17.jpg)"></div>
        </div>
        <div class="wrapper-peoples__img" >
          <div class="item bg-image-cover filter-black-white" style="background-image: url(img/busines-block/photo18.jpg)"></div>
        </div>
        <div class="wrapper-peoples__img" >
          <div class="item bg-image-cover filter-black-white" style="background-image: url(img/busines-block/photo1.jpg)"></div>
        </div>
        <div class="wrapper-peoples__img" >
          <div class="item bg-image-cover filter-black-white" style="background-image: url(img/busines-block/photo1.jpg)"></div>
        </div>
        <div class="wrapper-peoples__img" >
          <div class="item bg-image-cover filter-black-white" style="background-image: url(img/busines-block/photo1.jpg)"></div>
        </div>
        <div class="wrapper-peoples__img" >
          <div class="item bg-image-cover filter-black-white" style="background-image: url(img/busines-block/photo1.jpg)"></div>
        </div>
        <div class="wrapper-peoples__img" >
          <div class="item bg-image-cover filter-black-white" style="background-image: url(img/busines-block/photo1.jpg)"></div>
        </div>
        <div class="wrapper-peoples__img" >
          <div class="item bg-image-cover filter-black-white" style="background-image: url(img/busines-block/photo1.jpg)"></div>
        </div>
        <div class="wrapper-peoples__img" >
          <div class="item bg-image-cover filter-black-white" style="background-image: url(img/busines-block/photo1.jpg)"></div>
        </div>
        <div class="wrapper-peoples__img" >
          <div class="item bg-image-cover filter-black-white" style="background-image: url(img/busines-block/photo1.jpg)"></div>
        </div>
        <div class="wrapper-peoples__img" >
          <div class="item bg-image-cover filter-black-white" style="background-image: url(img/busines-block/photo1.jpg)"></div>
        </div>
        <div class="wrapper-peoples__img" >
          <div class="item bg-image-cover filter-black-white" style="background-image: url(img/busines-block/photo1.jpg)"></div>
        </div>
        <div class="wrapper-peoples__img" >
          <div class="item bg-image-cover filter-black-white" style="background-image: url(img/busines-block/photo1.jpg)"></div>
        </div>
        <div class="wrapper-peoples__img" >
          <div class="item bg-image-cover filter-black-white" style="background-image: url(img/busines-block/photo1.jpg)"></div>
        </div>
        <div class="wrapper-peoples__img" >
          <div class="item bg-image-cover filter-black-white" style="background-image: url(img/busines-block/photo1.jpg)"></div>
        </div>
        <div class="wrapper-peoples__img" >
          <div class="item bg-image-cover filter-black-white" style="background-image: url(img/busines-block/photo1.jpg)"></div>
        </div>
        <div class="wrapper-peoples__img" >
          <div class="item bg-image-cover filter-black-white" style="background-image: url(img/busines-block/photo1.jpg)"></div>
        </div>
        <div class="wrapper-peoples__img" >
          <div class="item bg-image-cover filter-black-white" style="background-image: url(img/busines-block/photo1.jpg)"></div>
        </div>
        <div class="wrapper-peoples__img" >
          <div class="item bg-image-cover filter-black-white" style="background-image: url(img/busines-block/photo1.jpg)"></div>
        </div>
        <div class="wrapper-peoples__img" >
          <div class="item bg-image-cover filter-black-white" style="background-image: url(img/busines-block/photo1.jpg)"></div>
        </div>
        <a href="javascript:void(0);" class="central-block text-center txt-white text-uppercase" data-toggle="modal" data-target="#modalSearch">
        <div class="rr"></div>
        <h2 class="h2">Найди себя<br>
          в Бизнес клубе</h2>
        </a> </div>
    </div>
    --> 
    
    <!--
    <div id="active-world-events">
      <div class="background"></div>
      <div class="main-title">
        <div></div>
        События бизнес клуба
      </div>	
      <div class="main-title-mobile">
        <div class="title">События бизнес клуба</div>
        <div class="border"></div>
      </div>
      <div class="cards">

        <div class="card">
          <div class="card-image"></div>
          <div class="card-date">03.06.2020</div>
          <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          </div>
          <div class="card-button">
            <button>УЗНАТЬ БОЛЬШЕ</button>
          </div>
        </div>

        <div class="card">
          <div class="card-image"></div>
          <div class="card-date">03.06.2020</div>
          <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          </div>
          <div class="card-button">
            <button>УЗНАТЬ БОЛЬШЕ</button>
          </div>
        </div>

        <div class="card">
          <div class="card-image"></div>
          <div class="card-date">03.06.2020</div>
          <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          </div>
          <div class="card-button">
            <button>УЗНАТЬ БОЛЬШЕ</button>
          </div>
        </div>

      </div>
    </div>
    --> 
    
    <!--
    <div id="new-articles">
      <div class="main-title main-title-right">
        Новые статьи активного мира
        <div></div>
      </div>	
      <div class="main-title-mobile">
        <div class="title">Новые статьи активного мира</div>
        <div class="border"></div>
      </div>
      <div class="cards">

        <div class="card">
          <div class="card-image"></div>
          <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          </div>
          <div class="card-date">03.06.2020</div>
          <div class="card-button">
            <button>Читать статью </button>
          </div>
        </div>

        <div class="card">
          <div class="card-image"></div>
          <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          </div>
          <div class="card-date">03.06.2020</div>
          <div class="card-button">
            <button>Читать статью </button>
          </div>
        </div>

        <div class="card">
          <div class="card-image"></div>
          <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          </div>
          <div class="card-date">03.06.2020</div>
          <div class="card-button">
            <button>Читать статью </button>
          </div>
        </div>

      </div>
    </div>
    --> 
    
    <!--
    <div id="free-activites">
      <div class="main-title">
        <div></div>
        Бесплатные активности
      </div>
      <div class="main-title-mobile">
        <div class="title">Бесплатные активности</div>
        <div class="border"></div>
      </div>
      <div class="cards">

          <div class="card">
          <div class="main-content">
            <div class="date-day">01</div>
            <div class="date-month">июня</div>
            <div class="border"></div>
            <div class="body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            </div>
          </div>
          <div class="image">
          </div>
          <div class="confirm-button">
            <button>ЗАПИСАТЬСЯ</button>
          </div>		    	
          </div>

          <div class="card">
          <div class="main-content">
            <div class="date-day">02</div>
            <div class="date-month">июня</div>
            <div class="border"></div>
            <div class="body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            </div>
          </div>
          <div class="image">
          </div>
          <div class="confirm-button">
            <button>ЗАПИСАТЬСЯ</button>
          </div>		    	
          </div>

          <div class="card">
          <div class="main-content">
            <div class="date-day">03</div>
            <div class="date-month">июня</div>
            <div class="border"></div>
            <div class="body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            </div>
          </div>
          <div class="image">
          </div>
          <div class="confirm-button">
            <button>ЗАПИСАТЬСЯ</button>
          </div>		    	
          </div>

      </div>		
    </div>
    --> 
    
  </div>
</div>
<script type="text/javascript">
  
    var contents = $('#header-img-background');
    var squares_info_bg = $('#squares-info-bg');
    var squares_info_fl = $('#squares_info_fl');
    var content_div = $('#main-index-contaoner');
    //squares-info-bg

      


  
		$("#square-1").hover(() => {
      contents.removeClass();  
      contents.addClass( "main-header-background-1" );
      squares_info_bg.toggleClass("squares-info-bg1");
			$(".squares-info-title").html("Портативные газоанализаторы");
			$(".squares-info-desc").html("Лидер в области энергоэффективности");
		});

		$("#square-2").hover(() => {
      contents.removeClass();
      contents.addClass( "main-header-background-2" );
      squares_info_bg.toggleClass("squares-info-bg2");
			$(".squares-info-title").html("Стационарные газоанализаторы");
			$(".squares-info-desc").html("Лидер в области надёжности");
		});

		$("#square-3").hover(() => {
      contents.removeClass();
      contents.addClass( "main-header-background-3" );
      squares_info_bg.toggleClass("squares-info-bg3");
			$(".squares-info-title").html("Переносные газоанализаторы");
			$(".squares-info-desc").html("Лидер в области обнаружения малых концентраций   ");
		});

		$("#square-4").hover(() => {		
      contents.removeClass();
      contents.addClass( "main-header-background-4" );
      squares_info_bg.toggleClass("squares-info-bg4");
			$(".squares-info-title").html("Извещатели пламени");
			$(".squares-info-desc").html("Лидер в области дальности и точности обнаружения возгараний");
		});

		$("#square-5").hover(() => {
      contents.removeClass();
      contents.addClass( "main-header-background-5" );
      squares_info_fl.toggleClass("squares-info-filter-transp");
      squares_info_bg.toggleClass("squares-info-transp");
			$(".squares-info-title").html("Учет рабочего времени");
			$(".squares-info-desc").html("Чтобы не было мучительно больно за бесцельно прожитые годы…");
		});		
  
    $("#main-index-contaoner").hover (()=> {
      contents.removeClass();
      //console.log('cleared');
		});		
  
  
		$("#square-6").hover(() => {
      contents.removeClass();
      contents.addClass( "main-header-background-0" );
      squares_info_bg.toggleClass("squares-info-bg6");
			$(".squares-info-title").html("  ");
			$(".squares-info-desc").html(" ");

		});	

  
  
	</script> 
<script type="text/javascript">
  /*
  $("#square-1").hover(() => {
			$("#main-header-background-1").css("opacity", 1);
			$("#main-header-background-2").css("opacity", 0);
			$("#main-header-background-3").css("opacity", 0);
			$("#main-header-background-4").css("opacity", 0);
			$("#main-header-background-6").css("opacity", 0);
			$("#main-header-background-7").css("opacity", 0);			

			$(".squares-info-title").html("Портативные газоанализаторы");
			$(".squares-info-desc").html("Лидер в области энергоэффективности");
		});

		$("#square-2").hover(() => {
			$("#main-header-background-1").css("opacity", 0);
			$("#main-header-background-2").css("opacity", 1);
			$("#main-header-background-3").css("opacity", 0);
			$("#main-header-background-4").css("opacity", 0);
			$("#main-header-background-6").css("opacity", 0);
			$("#main-header-background-7").css("opacity", 0);			

			$(".squares-info-title").html("Стационарные газоанализаторы");
			$(".squares-info-desc").html("Лидер в области надёжности");
		});

		$("#square-3").hover(() => {
			$("#main-header-background-1").css("opacity", 0);
			$("#main-header-background-2").css("opacity", 0);
			$("#main-header-background-3").css("opacity", 1);
			$("#main-header-background-4").css("opacity", 0);
			$("#main-header-background-6").css("opacity", 0);
			$("#main-header-background-7").css("opacity", 0);				
		
			$(".squares-info-title").html("Переносные газоанализаторы");
			$(".squares-info-desc").html("Лидер в области обнаружения малых концентраций   ");
		});

		$("#square-4").hover(() => {
			$("#main-header-background-1").css("opacity", 0);
			$("#main-header-background-2").css("opacity", 0);
			$("#main-header-background-3").css("opacity", 0);
			$("#main-header-background-4").css("opacity", 1);
			$("#main-header-background-6").css("opacity", 0);
			$("#main-header-background-7").css("opacity", 0);					

			$(".squares-info-title").html("Извещатели пламени");
			$(".squares-info-desc").html("Лидер в области дальности и точности обнаружения возгараний");
		});

		$("#square-6").hover(() => {
			$("#main-header-background-1").css("opacity", 0);
			$("#main-header-background-2").css("opacity", 0);
			$("#main-header-background-3").css("opacity", 0);
			$("#main-header-background-4").css("opacity", 0);
			$("#main-header-background-6").css("opacity", 1);
			$("#main-header-background-7").css("opacity", 0);

			$(".squares-info-title").html("Учет рабочего времени");
			$(".squares-info-desc").html("Чтобы не было мучительно больно за бесцельно прожитые годы…");
		});		
		
		$("#square-7").hover(() => {
			$("#main-header-background-1").css("opacity", 0);
			$("#main-header-background-2").css("opacity", 0);
			$("#main-header-background-3").css("opacity", 0);
			$("#main-header-background-4").css("opacity", 0);
			$("#main-header-background-6").css("opacity", 0);
			$("#main-header-background-7").css("opacity", 1);

			$(".squares-info-title").html("  ");
			$(".squares-info-desc").html(" ");
		});	
    */
	</script>
  </section>
</div>
</body>
</html>