

<div id="site-wind-notifer" class="site-window-info" > </div>
<script>console.log('php_string: Menu.php say: Куки не содержат признак ничего :(');</script>
<body  class='DivBody'>
<!-- <div style='height: 100vh'>   -->
<header>
  <nav id='cssmenu' class='semiopacity' style='border: none'>
    <div class='logo'>
      <a href='/' id='logo'><img src='/IMG/pic/Logowhite.png' width='250hv' > </a>
    </div>
    <div class='log3'><a href='/Utilites/Settings/Settings.php?PageSelect=PersonalArea.php'>Войти </a>
    </div>
    <div id='head-mobile'></div>
    <div class='button'></div>
    <ul > 
      <li>
        <a href='/?p=devices/productionIndex.php' > Продукция </a> 
        
        <ul >
        <!-- Done first loop -->
          <li> <a href='/?p=devices/stationar/index.php' > Стационарные газоанализаторы </a> 
            <ul >
<li> <a href='/?p=devices/stationar/igm10.php' > ИГМ-10 </a> </li>
<li> <a href='/?p=devices/stationar/igm11.php' > ИГМ-11 </a> </li>
<li> <a href='/?p=devices/stationar/igm12m.php' > ИГМ-12М </a> </li>
<li> <a href='/?p=devices/stationar/igm13m.php' > ИГМ-13М </a> </li>
<li> <a href='/?p=devices/stationar/igm12.php' > ИГМ-12 </a> </li>
    <li> <a href='/?p=devices/stationar/igm13.php' > ИГМ-13 </a> </li>
            </ul>
      </li>  <li> <a href='/?p=devices/portable/index.php' > Портативные </a> 
            <ul >
  <li> <a href='/?p=devices/portable/microsense/index.php' > Микросенс </a> 
            <ul >
<li> <a href='/?p=devices/portable/microsense/Microscense_Index.php?PageSelect=MI_IP54.php' > IP54 </a> </li>
<li> <a href='/?p=devices/portable/microsense/Microscense_Index.php?PageSelect=MI_IP67_M2.htm' > Микросенс М2 </a> </li>
  <li> <a href='/?p=devices/portable/microsense/Microscense_Index.php?PageSelect=MI_IP67_M3.htm' > Микросенс М3 </a> 
            <ul >
<li> <a href='/?p=devices/portable/microsense/Microscense_Index.php?PageSelect=MI_IP67_M3_Tox_L1.htm' > L1 </a> </li>
<li> <a href='/?p=devices/portable/microsense/Microscense_Index.php?PageSelect=MI_IP67_M3_Tox_L4.htm' > L4 </a> </li>
<li> <a href='/?p=devices/portable/microsense/Microscense_Index.php?PageSelect=MI_IP67_M3_PID.htm' > PID </a> </li>
<li> <a href='/?p=devices/portable/microsense/Microscense_Index.php? PageSelect=MI_IP67_M3_PID_L1_Cut.htm' > L151 Cut </a> </li>
<li> <a href='/?p=devices/portable/microsense/Microscense_Index.php?PageSelect=MI_IP67_M3_PID_L1_Full.htm' > L151 Full </a> </li>
    <li> <a href='#' > L471 </a> </li>
            </ul>
      </li>            </ul>
      </li>  <li> <a href='/?p=devices/portable/multigassense/index.php' > Мультигазсенс </a> 
            <ul >
<li> <a href='/?p=devices/portable/multigassense/MU_HW3.9.htm' > М2 (H.W3.9) </a> </li>
<li> <a href='/?p=devices/portable/multigassense/MU_HW3.15.htm' > М2 (H.W3.15) </a> </li>
<li> <a href='/?p=devices/portable/multigassense/MU_HW3.15.htm' > М5 M5.L (H.W3.15) </a> </li>
    <li> <a href='/?p=devices/portable/multigassense/MU_HW3.15.htm' > GS (H.W3.15) </a> </li>
            </ul>
      </li>            </ul>
      </li><li> <a href='/?p=devices/radiosys/index.php' > Радиоканальная газоаналитическая система </a> </li>
<li> <a href='/?p=devices/central/index.php' > Системы измерительные </a> </li>
<li> <a href='/?p=devices/flame/index.php' > Извещатели пламени </a> </li>
    <li> <a href='/?p=devices/handheld/index.php' > Газоанализаторы микроконцентраций </a> </li>
            </ul>
      </li>  <li> <a href='#' > Прошивки </a> 
            <ul >
<li> <a href='/?p=Utilites/FirmwareMicro.php' > Микросенс </a> </li>
<li> <a href='/?p=Utilites/FirmwareMult.php' > Мультигазсенс </a> </li>
<li> <a href='/?p=Utilites/FirmwareIGM-13M.php' > ИГМ </a> </li>
<li> <a href='/?p=Utilites/FirmwareIP.php' > ИП </a> </li>
<li> <a href='/?p=Utilites/FirmwareAnnunciator.php' > Светозвуковой оповещатель </a> </li>
    <li> <a href='/?p=Utilites/FirmwareSSD.php' > Центральное устройство </a> </li>
            </ul>
      </li>  <li> <a href='#' > Утилиты </a> 
            <ul >
<li> <a href='/?p=Utilites/RES.php' > Сенсоры </a> </li>
<li> <a href='/?p=Utilites/AdminTool/auth.html' > LoRa </a> </li>
<li> <a href='/?p=Utilites/NKPR.php' > Конвертер единиц измерения </a> </li>
<li> <a href='/?p=Utilites/ALMC_gen.php' > Пороги ИГМ-12М (13М, 11/12) </a> </li>
<li> <a href='/?p=Utilites/ALMC_gen_old_dev.php' > Пороги ИГМ-10 </a> </li>
<li> <a href='/?p=Utilites/small/percent.php' > Калькуляторы </a> </li>
    <li> <a href='/?p=Utilites/CalcResistor.php' > Рассчёт к.у. </a> </li>
            </ul>
      </li>  <li> <a href='#' > О сайте </a> 
            <ul >
<li> <a href='/?p=Utilites/Settings/PersonalArea.php' > Личный кабинет </a> </li>
    <li> <a href='/?p=Utilites/Settings/FonImage.php' > Настройки сайта </a> </li>
            </ul>
      </li>  <li> <a href='#' > Тестовые </a> 
            <ul >
            <ul >
    <li> <a href='#' > Изменение к-та усиления LMP </a> </li>
            </ul>
      </li><li> <a href='/?p=Utilites/scheduleCamera.php' > График занятости камер </a> </li>
<li> <a href='/?p=Utilites/checkLists.php' > Чек-листы </a> </li>
<li> <a href='/phpmyadmin' > PHP-myAdmin </a> </li>
    <li> <a href='http://192.168.1.162:3000' > IGM-Git </a> </li>
            </ul>
      </li>  <li> <a href='/?p=TimeManagment/StartStop.php' > Учет рабочего времени </a> 
            <ul >
<li> <a href='/?p=TimeManagment/StartStop.php' > Отметиться </a> </li>
<li> <a href='/?p=TimeManagment/VHistory.php' > История посещений </a> </li>
<li> <a href='/?p=TimeManagment/Otpusk.php' > Добавить отпуск </a> </li>
<li> <a href='/?p=TimeManagment/Med.php' > Добавить больничный </a> </li>
<li> <a href='/?p=TimeManagment/Travel.php' > Добавить командировку </a> </li>
<li> <a href='/?p=TimeManagment/Person.php' > Сотрудники </a> </li>
<li> </li>
</ul></li>
</ul></li>
</nav>
</header>
<!-- end menu.php  -->